/* LoadingSpinner.css */

/* Container que centraliza o spinner na tela */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Spinner de órbita */
.orbit-spinner {
  position: relative;
  width: 80px;
  height: 80px;
  animation: orbit-spin 4s linear infinite;
  border: 3px solid #3498db; /* Cor da borda da órbita */
  border-top: 3px solid #e74c3c; /* Cor da borda do topo da órbita */
  border-bottom: 3px solid #e74c3c; /* Cor da borda do fundo da órbita */
  border-radius: 50%;
}

/* Spinner do planeta */
.planet-spinner {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #f1c40f; /* Cor da borda do topo do planeta */
  border-bottom: 3px solid #f1c40f; /* Cor da borda do fundo do planeta */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 30% 30%, #f1c40f, transparent),
              radial-gradient(circle at 70% 70%, #e74c3c, transparent);
  animation: planet-spin 2s linear infinite;
}

/* Estrelas de fundo */
.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(29, 212, 41), transparent),
              radial-gradient(rgb(14, 138, 12), transparent),
              radial-gradient(white, transparent);
  background-position: 20% 30%, 60% 70%, 90% 40%;
  background-repeat: no-repeat;
  animation: stars-rotate 8s linear infinite; /* Animação de rotação das estrelas */
}

/* Animação de rotação do planeta */
@keyframes planet-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Animação de rotação da órbita */
@keyframes orbit-spin {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

/* Animação de rotação das estrelas */
@keyframes stars-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
