/* LoadingSpinner.css */

/* Container que centraliza o spinner na tela */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414; /* Cor de fundo escura */
}

/* Spinner de órbita */
.orbit-spinner {
  position: relative;
  width: 80px;
  height: 80px;
  border: 3px solid #04d9ff; /* Cor da borda da órbita (azul claro) */
  border-radius: 50%;
  animation: orbit-spin 2s linear infinite;
}

/* Animação de rotação da órbita */
@keyframes orbit-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Spinner do planeta */
.planet-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ff00a9; /* Cor da borda do planeta (rosa) */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: planet-spin 4s linear infinite, planet-shine 2s linear infinite alternate; /* Adicionando animação de brilho */
}

/* Animação de rotação do planeta */
@keyframes planet-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Animação de brilho do planeta */
@keyframes planet-shine {
  0% { border-color: #ff00a9; } /* Cor inicial do brilho (rosa) */
  100% { border-color: #f8ff00; } /* Cor final do brilho (amarelo) */
}
